/* Email Icon */
.email-icon {
    width: 20px;
    vertical-align: middle;
}

/* GitHub Icon */
.github-icon {
    width: 25px;
    vertical-align: middle;
}

.project-section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.project-section .left-column {
    flex: 1;
}

.project-section .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gif-style {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 8px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .project-section {
        grid-template-columns: 1fr;
    }
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .grid-section {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.grid-item {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.license-section {
    font-family: "Menlo", monospace;
    font-size: 0.65rem;
    line-height: 1.1;
    background-color: transparent;
}

.license-section h3 {
    margin-bottom: 6px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.license-section p {
    margin-bottom: 6px;
}

/* Dark mode styles */
.dark-mode h1 {
    color: white;
}

.dark-mode h3 {
    color: #f8f9fa;
}

.dark-mode p {
    color: #d1e1e8;
}

.dark-mode .grid-item {
    background-color: #343a40;
    border: 1px solid #495057;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-mode .license-section {
    color: #d1e1e8;
    background-color: #343a40;
}

.dark-mode .license-section h3 {
    color: #f8f9fa;
}

body.dark-mode {
    background-color: #121212;
    color: #f8f9fa;
}

.content-section.dark-mode {
    background-color: #2d2d2d;
    color: #d1e1e8;
}

.faq-grid.dark-mode {
    background-color: #2d2d2d;
    border: 1px solid #444;
}
